.sidebar {
    font-size: 1em;
    background-color: #f7f7f7;
}
.sidebar > .sidebar-links > li > a.sidebar-link {
    padding-left: 2.4em
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #373d41!important;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

body {
    font-family: pingfang SC,helvetica neue,arial,hiragino sans gb,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important;
    font-size: 14px;
}



  